---
const { name, text } = Astro.props;
---

<div class="album">
  <slot />
  <h3>{name}</h3>
  <p>{text}</p>
</div>

<style>
  .album {
    margin: 10px;
    border-radius: 5px;
    background-color: var(--light-grey);
    padding: 0.6rem;
  }
</style>
