---
---

<nav class="vertical-menu">
  <a href="/#"><img class="menu" src="/create-icon.svg" alt="playlist" />Create Playlist</a>
  <a href="/#"><img class="menu" src="/heart-icon.svg" alt="liked" />Liked Songs</a>
</nav>
<style>
  .menu {
    width: 12%;
    margin-right: 10px;
    filter: brightness(0.5);
  }
  .vertical-menu {
    margin-top: 1rem;
  }
  .vertical-menu a {
    color: rgb(147, 147, 147);
    display: block; /* Make the links appear below each other */
    padding: 6px; /* Add some padding */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem; /* Remove underline from links */
  }
</style>
