---
---

<nav class="vertical-menu">
  <img class="logo" src="/logo.svg" alt="logo" />
  <a href="/#"><img class="menu" src="/home-filled.svg" alt="home" />Home</a>
  <a href="/#"><img class="menu" src="/search-icon.svg" alt="search" />Search</a>
  <a href="/#"><img class="menu" src="/library-icon.svg" alt="library" />Your library</a>
</nav>

<style>
  .logo {
    width: 70%;
    padding-block: 0.5rem;
  }
  .menu {
    width: 13%;
    margin-right: 10px;
    filter: brightness(0.5);
  }
  .vertical-menu a {
    color: rgb(147, 147, 147);
    display: block; /* Make the links appear below each other */
    padding: 6px; /* Add some padding */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem; /* Remove underline from links */
  }
</style>
